{
  "env": {
    "node": true,
    "es6": true,
  },
  "extends": [
    "eslint",
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true
  },
  rules: {
    "require-jsdoc": 'off',
    "lines-around-comment": off,
    "no-console": off,
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "always-multiline"],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "strict": ["error", "never"],
  },
}
