swagger: "2.0"
host: "www.quienesquien.wiki"
schemes:
- http
- https
info:
  description: "API Program description"
  title: "quienesquien.wiki"
  version: "0.0.2"
  termsOfService: "http://example.com/about/terms"
  contact:
    name: "API Docs"
    url: "https://quienesquien.wiki/contact"
    email: "apidocs@quienesquien.wiki"
  license:
    name: "Apache 2.0"
    url: "http://example.com"
basePath: "/api/v1"
paths:
  /persons:
    get:
      description: Get a list of persons
      summary: Json array of persons
      externalDocs:
        description: Find out more
        url: http://docs.example.com/management/apis/get/entities
      operationId: persons
      tags:
      - persons
      produces:
      - application/json; charset=utf-8
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/Persons"
      security: []
      parameters:
        - $ref: "#/parameters/_id"
        - $ref: "#/parameters/simple"
        - $ref: "#/parameters/name"
        - $ref: "#/parameters/text"
        - $ref: "#/parameters/fields"
        - $ref: "#/parameters/sort"
        - $ref: "#/parameters/limit"
  /contracts:
    get:
      description: "API Method Description"
      summary: "Short Summary of API Method"
      externalDocs:
        description: "Find out more"
        url: "http://docs.example.com/management/apis/get/entities"
      operationId: "uniqueId"
      tags:
        - "contracts"
      produces:
        - "application/json; charset=utf-8"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Contracts"
      security: []
      parameters:
        -
          in: "query"
          name: "title"
          description: "Title of contract."
          type: "string"
          required: false
          enum:
            - "Red%20Local"
        -
          in: "query"
          name: "type"
          description: "Contract type"
          type: "string"
          required: false
        -
          in: "query"
          name: "status"
          description: "Contract Status"
          type: "string"
          required: false
        -
          in: "query"
          name: "ocid"
          description: "Open Contracting Identifier"
          type: "string"
          required: true
        -
          in: "query"
          name: "procedure_type"
          description: "Type of contractural proceedure"
          type: "string"
          required: false
        -
          in: "query"
          name: "amount"
          description: "Monetary amount paid to supplier"
          type: "number"
          required: false
        -
          in: "query"
          name: "currency"
          description: "Currency of given amount"
          type: "string"
          required: false
        -
          in: "query"
          name: "provider"
          description: "Provider of given service"
          type: "string"
          required: true
        -
          in: "query"
          name: "department"
          description: "responsible public department"
          type: "string"
          required: true
        -
          in: "query"
          name: "dependency"
          description: "responsible public dependency"
          type: string
          required: true
        - $ref: "#/parameters/gt"
        - $ref: "#/parameters/lt"
        - $ref: "#/parameters/start_date"
        - $ref: "#/parameters/end_date"
        - $ref: "#/parameters/text"
        - $ref: "#/parameters/fields"
        - $ref: "#/parameters/sort"
        - $ref: "#/parameters/limit"
definitions:
  Persons:
    required:
    - status
    - data
    properties:
      status:
        type: string
        minLength: 1
      data:
        type: array
        uniqueItems: true
        minItems: 1
        items:
          required:
          - _id
          - simple
          - name
          - created_at
          properties:
            _id:
              type: string
              minLength: 1
            simple:
              type: string
              minLength: 1
            name:
              type: string
              minLength: 1
            created_at:
              type: string
              minLength: 1
            source:
              type: string
              minLength: 1
            names:
              type: array
              items:
                properties: {}
            memberships:
              type: array
              uniqueItems: true
              minItems: 1
              items:
                required:
                - name
                - role
                - department
                properties:
                  name:
                    type: string
                    minLength: 1
                  role:
                    type: string
                    minLength: 1
                  department:
                    type: string
                    minLength: 1
            owns:
              type: "array"
              uniqueItems: true
              minItems: 1
              items:
                required:
                - "name"
                properties:
                  name:
                    type: "string"
                    minLength: 1
                  shares:
                    type: "number"

  Contracts:
    description: "Contracts"
    type: "object"
    required:
    - "status"
    - "data"
    properties:
      status:
        type: "string"
        minLength: 1
      data:
        type: "array"
        uniqueItems: true
        minItems: 1
        items:
          required:
          - "_id"
          - "type"
          - "status"
          - "title"
          - "ocid"
          - "procedure_type"
          - "provider"
          - "department"
          - "start_date"
          - "end_date"
          - "dependency"
          properties:
            _id:
              type: "string"
              minLength: 1
            celebration:
              type: "string"
              minLength: 1
            type:
              type: "string"
              minLength: 1
            status:
              type: "string"
              minLength: 1
            title:
              type: "string"
              minLength: 1
            account_admin:
              type: "string"
              minLength: 1
            ocid:
              type: "string"
              minLength: 1
            procedure_type:
              type: "string"
              minLength: 1
            amount:
              type: "number"
            currency:
              type: "string"
              minLength: 1
            provider:
              type: "string"
              minLength: 1
            references:
              type: "array"
              items:
                properties: {}
            department:
              type: "string"
              minLength: 1
            clave_uc:
              type: "string"
              minLength: 1
            start_date:
              type: "string"
              format: date-time
              minLength: 1
            end_date:
              type: "string"
              minLength: 1
            character:
              type: "string"
              minLength: 1
            dependency:
              type: "string"
              minLength: 1

parameters:
  name:
    name: name
    in: query
    description: The entity's name
    type: string
    enum:
    - Carlos A. Motta
  _id:
    in: query
    name: _id
    description: Internal ID of entity
    type: string
    enum:
    - "Knk2AoEw4hXe7Fx2F"
  simple:
    in: query
    name: simple
    description: Simpified name of person
    type: string
    enum:
    - fabrizio pagani
  fields:
    in: query
    name: fields
    description: fields to return in results
    type: string
    enum:
      - title
      - dependency
  text:
    in: query
    name: text
    description: Perform a text search
    type: boolean
    enum:
      - true
      - false
  sort:
    in: query
    name: sort
    description: Sort by given field.
    type: string
    enum:
      - end_date
      - amount
  limit:
    name: limit
    in: query
    description: Number of returned documents
    type: integer
    default: 100
    enum:
      - 1
      - 5
      - 10
      - 100
  start_date:
    in: query
    name: start_date
    description: Beginning Date
    type: string
    format: date-time
    enum:
      - 2014-04-20
  end_date:
    in: query
    name: end_date
    description: End Date
    type: string
    format: date-time
    enum:
      - 2014-04-20
  gt:
    in: "query"
    name: "gt"
    description: Greater than
    type: "string"
    enum:
      - "2014-04-20"
      - "100000"
  lt:
    in: "query"
    name: "lt"
    description: Less than
    type: "string"
    enum:
      - "2014-04-20"
      - "100000"
